* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background-color: #b30000;
  border-radius: 20px;
}
/* hero section start */

.hero_section {
  padding-top: 79px;
  height: 110vh;
  background-position: 45% center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/hero-img.40c8355a31f73340b733.jpg");
}
.hero_section .hero_layer .hero_content div,
.featured_title {
  background-image: url("../img/title-bg.13d788348b56c629eefb2e7ad1f4d6ce.svg");
  width: fit-content;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.hero_section .hero_layer .hero_content h1,
.hero_section .hero_layer .hero_content h2 {
  font-size: 48px;
}
.hero_social {
  writing-mode: vertical-rl;
}
/* hero section end */

/* how we are section start */
.how_we_are .row .fit_card {
  border-bottom-right-radius: 35px !important;
  border-top-left-radius: 35px !important;
  border: 0;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  position: relative;
  transform: translateY(-20%);
}
.how_we_are .row .fit_card:hover {
  background-image: url("../img/card.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
}
.how_we_are,
.pricing {
  background-image: url("../img/background.83bcfae77cd8ae9f6a48.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.how_we_are_title {
  background-image: url("../img/title-bg.13d788348b56c629eefb2e7ad1f4d6ce.svg");
  width: fit-content;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  /* how we are section end */
}
.runing_img {
  top: 30%;
  width: 15%;
}
.how_we_are_content {
  padding-bottom: 80px;
}
.featured,
.why_us,
.trainers,
.testmonials,
.gallary,
.pricing,
.blog {
  padding: 125px 0;
}
.grid_container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: minmax(300px, auto);
  grid-auto-flow: dense;
  gap: 10px;
}
.grid_card_box:nth-child(1) {
  grid-column: span 2;
}
.grid_card_box:nth-child(6) {
  grid-column: span 2;
}
.grid_card_box {
  overflow: hidden;
}
.grid_card_box img {
  width: 300px;
  height: 300px;
  filter: grayscale(1);
  object-fit: cover;
  object-position: center;
  transition: all 0.5s;
}
.grid_card_box img:hover {
  filter: grayscale(0);
  transform: scale(110%);
}

.box-icon {
  background-color: hsla(0, 0%, 100%, 0.3);
  width: 180px;
  height: 80px;
}
.box-icon i {
  transition: all 0.5s;
}
.grid_card_box:hover .box-icon i {
  color: red;
}
.service {
  background-image: url("../img/cta-bg.0bd0c066aa8b6eac570c.png");
  background-size: cover;
  background-position: center center;
}
.why_us {
  background-image: url("../img/choose-bg.a67baa2e570e11a494d3.jpg");
  background-size: cover;
  background-position: center center;
}

.why_us_img_layer::before {
  content: "";
  width: 14px;
  height: 236px;
  transform: rotate(-6deg);
  background-color: red;
  top: 95px;
  right: -30px;
  position: absolute;
}
.why_us_img_layer::after {
  content: "";
  width: 14px;
  height: 155px;
  transform: rotate(0deg);
  background-color: red;
  top: 380px;
  left: -45px;
  position: absolute;
}
.trainers {
  background-image: url("../img/download (1).png");
}
.trainers::after {
  content: url("../img/download\ \(2\).png");
  position: absolute;
  top: 0;
  right: 0;
}
.trainer_img {
  max-width: 13.75rem;
  max-height: 22.125rem;
  filter: grayscale(1);
  transition: all 0.3s;
}
.trainer_img:hover {
  filter: grayscale(0);
}
.trainer_img_layer {
  background-image: url("../img/trainer-bg.d8a91ceec330444b6dfd.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.popup_trainer {
  top: -22%;
}
.popup_trainer::after {
  content: "\f106";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  left: 50%;
}
.card_body_trainer::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 5px;
  background-color: red;
  bottom: 0;
  transition: all 0.5s;
  left: 41%;
}
.card_body_trainer:hover:after {
  transform: scaleX(4.5);
}
.testomnial_item {
}
.cst_control_prev {
  right: 200px !important;
  left: unset !important;
  background-color: black;
  color: white;
  padding: 10px !important;
}

element.style {
}
.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
.cst_control_prev {
  right: 65px !important;
  left: unset !important;
  background-color: black;
  color: white;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: unset;
  background-color: black !important;
  bottom: -9%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: unset !important;
  padding: 10px !important;

  color: black !important;
  text-align: center;
  border: 0;
  opacity: 1 !important;
  transition: opacity 0.15s ease;
}
.carousel-control-next {
  right: -10px !important;
}
.carousel-control-next,
.carousel-control-prev {
  bottom: -2% !important;
  background-color: #dc3545 !important;

  transition: opacity 0.15s ease;
}
.carosel_layer img {
  max-width: 60px;
  max-height: 50px;
}
.carousel::after {
  content: "";
  width: 305px;
  height: 370px;
  background-image: url("../img/testimonial-new.4d49a58e5ec2cf3ec91a.jpg");
  background-position: top center;
  object-fit: cover;
  position: absolute;
  bottom: 0px;
  left: -28px;

  border-top-right-radius: 200px;
}
.company img {
  opacity: 0.4;
  transition: all 0.3s;
}
.company img:hover {
  opacity: 1;
}
.gallary::after {
  content: url("../img/download\ \(18\).png");
  position: absolute;
  top: 0;
  margin: 10px;
  right: 0;
}
.big_img img {
  max-width: 37rem;
  max-height: 25.5rem;
}
.hafe_big img {
  max-width: 18.3rem;
  max-height: 12.5rem;
}
.spiecal_img img {
  max-width: 37rem;
  max-height: 12.5rem;
}
.calculate_bim {
  background-image: url("../img/background.1fed62fab703bff0845d.jpg");
  background-position: center center;
  background-size: cover;
}
.pricing::after {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  z-index: -1;
  content: url("../img/download\ \(19\).png");
}
.pricing::before {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 10px;
  z-index: -1;
  content: url("../img/download\ \(20\).png");
}
.pricing {
  z-index: 1;
}
.light_card img {
  filter: grayscale(1);
  transition: all 0.3s;
}
.light_card:hover img {
  filter: grayscale(0);
}
.date {
  width: fit-content;
}
.call_now {
  background-image: url("../img/background.f24e8c4144bb6907ac96.jpg");
  background-position: center center;
  background-size: cover;
}
@media only screen and (max-width: 767px) {
  .grid_card_box:nth-child(1) {
    grid-column: unset;
  }
  .grid_card_box:nth-child(6) {
    grid-column: unset;
  }
  .carosel_p,
  .carosel_p_title,
  .carosel_p_sub {
    width: 100% !important;
  }
}
@media only screen and (max-width: 1200px) {
  .carousel::after {
    display: none;
  }
}
